<div class="container">
<div class="row">
  <span>{{asignatura.nombreAsignatura}} - {{asignatura.NRC}}</span>
  <button class="btn btn-default">^</button>
</div>
  <span class="help-block">{{asignatura.creditos}}</span>
<div class="row">
  <div class="col-md-3">
  <label>Grupo 1</label>
  <label>{{asignatura.nombreAsignatura}} - {{asignatura.NRC}}</label>
</div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <form>
  <label>Horario materia</label>
</form>
</div>
<div class="row">
    <div class="col-md-3"></div>
  <span>Estudiantes por grupo</span>
  <input type="text" placeholder="#"/>
</div>
</div>