<mat-accordion>
  <mat-expansion-panel [expanded]="true" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Labor administrativa
      </mat-panel-title>
      <mat-panel-description>
        {{otraLabor.nombreActividadAdmon}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div id="contenido">
      <div class="row">
        <div>
          <mat-label>Descripción:</mat-label>
        </div>
        <div class="">
          <mat-form-field class="">
            <textarea matInput [(ngModel)]="otraLabor.descripcionActividadAdmon"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div>
          <mat-label>Carga horaria:</mat-label>
        </div>
        <div class="">
          <mat-form-field class="">
            <input matInput [(ngModel)]="otraLabor.horasActividadAdmon" type="number">

          </mat-form-field>
          horas.
          <a id="eliminar" (click)="lanzar()">
            <mat-icon>delete</mat-icon>
          </a>
        </div>
      </div>
    </div>
