<div class="container main">
<mat-tab-group>
    <mat-tab  label="Materias a dictar">
      <app-formulario-asignatura></app-formulario-asignatura>
    </mat-tab>
    <mat-tab label="Proyectos de grado 1">
      <app-formulario-proyecto-grado></app-formulario-proyecto-grado>
    </mat-tab>
    <mat-tab label="Proyectos de grado 2">
        <h1>Some more tab content</h1>
        <p>...</p>
      </mat-tab>
      <mat-tab label="Semilleros">
          <h1>Some more tab content</h1>
          <p>...</p>
        </mat-tab>
  </mat-tab-group>
</div>