<div class="container main">
  <div class="row">
    <mat-tab-group>
      <mat-tab label="Materias a dictar">
        <app-formulario-asignatura [materiasAgregadas]="planDocencia.asignaturas"></app-formulario-asignatura>
      </mat-tab>
      <mat-tab label="Proyectos de grado 1">
        <app-formulario-proyecto-grado [proyectos]="planDocencia.proyectosUno"></app-formulario-proyecto-grado>
      </mat-tab>
      <mat-tab label="Proyectos de grado 2">
        <app-formulario-proyecto-grado [proyectos]="planDocencia.proyectosDos"></app-formulario-proyecto-grado>
      </mat-tab>
      <mat-tab label="Semilleros">
          <app-formulario-semillero [semilleros] = "planDocencia.semilleros"></app-formulario-semillero>
        </mat-tab>
  </mat-tab-group>
</div>
</div>
