<<<<<<< HEAD
.main{
    max-width: 760px;
    background-color: white;
=======
.main {
  height: 100%;
  max-width: 760px;
  background-color: white;
>>>>>>> 3d8a4151da5dd9eaa8adb19d8fb0d9eecaa9043c
}

.bottom {
  background-color: turquoise;
  min-height: 100px;
}

.bottom button {
  margin-top: 10%;
  padding-left: 15%;
  padding-right: 15%;
}
