<div class="container main">
  <div class="row">
    <mat-tab-group>
      <mat-tab label="Propuesta Investigacion">
        <app-formulario-propuesta-investigacion
          [propuestas]="planInvestigacion.propuestaInvestagacion"></app-formulario-propuesta-investigacion>
      </mat-tab>
      <mat-tab label="Proyectos de investigacion">
        <app-formulario-proyecto-investigacion
          [proyectos]="planInvestigacion.proyectosInvestigacion"></app-formulario-proyecto-investigacion>
      </mat-tab>
      <mat-tab label="Dirección jovenes investigadores">
        <app-formulario-joven-investigador [jovenes]="planInvestigacion.jovenes"></app-formulario-joven-investigador>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
