<div class="container main">
  <div class="row header">

    <form class="" (ngSubmit)="agregarLabor()">
      <div class="col-md-3">
        <label>Nombre otra labor administrativa a agregar</label>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <input type="text" placeholder="Nombre" matInput [(ngModel)]="otraLabor.nombreActividadAdmon" name="labor">
        </mat-form-field>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <button class="btn btn-primary" type="submit">Agregar labor</button>
      </div>
    </form>
  </div>
  <div *ngFor="let labor of otrasLaboresAgregadas">
    <app-adicionar-otra-labor [otraLabor]="labor" (myEvent)="eliminarLabor($event)"></app-adicionar-otra-labor>
  </div>
</div>
