*{
    max-width: 740px;
}
.main{
    min-height: 600px;
    background-color: white;
}

.header{
    margin-top: 2%;
}

.header label{
    margin-top: 8%;
    font-size: 15px;
}

.header button{
    margin-top:  8%;
    border-radius: 20px;
}

