.main{
    height: 100%;
    max-width: 760px;
    background-color: white;
}

.bottom{
    background-color: turquoise;
    min-height: 100px;
}

.bottom button{
    margin-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

.contenido{
    max-height: 400px;
    min-height: 400px;
    max-width: 600px;
    overflow-x: hidden;
}

.contenido label{
    vertical-align: middle;
}